/*********** Manage Single Wine CSS *************/

.manage-wine-single-section.text-start {
    border: 1px solid #c02323;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 5px -2px #c02323;
}

.manage-singlewine-img img {
    width: auto;
    height: 110px;
    margin-bottom: 10px;
}

.single-wineDetails h3 {
    font-size: 15px;
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

.single-wineDetails h4 {
    font-size: 15px;
    font-weight: 500;
}

.single-wineDetails h4 span {
    color: #c02323;
}

button.wine-delete-btn {
    float: right;
    overflow: hidden;
    display: block;
    border: 1px solid #c02323;
    background-color: transparent;
    padding: 4px 13px;
    font-size: 14px;
    font-weight: 600;
    transition: .5s;
}

button.wine-delete-btn:hover {
    background-color: #c02323;
    color: #FFFFFF;
}


/************ RESPONSIVE CSS **************/
@media screen and (max-width:575px){
    button.wine-delete-btn{
        margin-top: 10px;
        margin-bottom: 20px;
    }
}