/********* Experts CSS *********/

ul, li{
    margin: 0 !important;
    padding: 0 !important;
}

/******** EXPERT AREA CSS *********/
.team-inner {
    box-shadow: 5px 10px 13px -7px #c02323;
    background-color: #FFFFFF;
    transition: .5s;
    border: 1px solid transparent;
    padding-top: 10px;
}

.team-section {
    background-image: url('https://i.ibb.co/WzmdQ8z/footer.jpg');
}

.team-img img {
    width: 80%;
    margin: auto;
    display: block;
    transform: scale(1, 1);
    transition: .5s;
}

.team-img {
    margin-bottom: 25px;
}

.team-details {
    padding: 20px;
    text-align: center;
}

.team-details h3 {
    color: #c02323;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 700;
}

.team-details p {
    font-size: 15px;
    color: #c02323;
    margin-bottom: 25px;
}

ul.team-social-list {
    text-align: center;
    justify-content: center;
}

ul.team-social-list li {
    list-style: none;
}

ul.team-social-list li a {
    color: #c02323;
    font-size: 22px;
    padding: 7px;
    text-align: center !important;
    transition: .5s;
    border: 1px solid transparent;
}

ul.team-social-list li a:hover {
    background-color: #c02323;
    color: #FFFFFF;
    border: 1px solid #c02323;
}

.team-inner:hover {
    border: 1px solid #c02323;
}


/********** RESPONSIVE CSS *********/
@media screen and (max-width:991px){
    ul.team-social-list{
        padding: 0px;
    }
}