/********** BANNER CSS ***********/
.carousel-indicators {
    display: none !important;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center !important;
    top: 28% !important;
    bottom: 0 !important;
}

.carousel-indicators {
    display: none !important;
}

.carousel-caption h3 {
    color: #FFFFFF;
    font-size: 37px;
    font-weight: 600;
    text-shadow: 0px 1px 4px #c02323;
}

.carousel-caption p {
    line-height: 33px;
    font-size: 17px;
}

.explore-btn {
    background-color: transparent;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 1px solid #c02323;
    outline: none;
    padding: 10px 15px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 15px;
    transition: .5s;
    text-decoration: none;

}

.explore-btn:hover{
    color: #FFFFFF !important;
    background-color: #c02323;
}


/******** BANNER RESPONSIVE CSS ********/
@media screen and (max-width:832px){
    .carousel-caption h3 {
        font-size: 25px;
    }
    
    .carousel-caption {
        top: 4% !important;
    }
}

@media screen and (max-width:650px){
    .carousel-caption p {
        line-height: 25px !important;
        font-size: 14px !important;
    }

    .explore-btn{
        margin-top: 0px;
        padding: 8px;
    }
}

@media screen and (max-width:515px){
    .carousel-caption p{
        display: none;
    }
    .explore-btn{
        margin-top: 20px;
    }
    .carousel-caption h3 {
        font-size: 20px;
    }
}