/********** About us CSS *************/

.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.section-title h2 {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
    color: #c02323;
    border-bottom: 2px solid #2e2e2e;
    display: inline-block;
}

.section-title p {
    color: #c02323;
    font-size: 30px;
}

.about-img img {
    width: 95%;
    margin: auto;
    display: block;
}

.about-details {
    text-align: left;
    padding-top: 29px;
}

.about-details h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.about-details p {
    line-height: 31px;
    font-size: 15px;
}


/***** ABOUT RESPONSIVE CSS *****/
@media screen and (max-width:500px){
    .section-title {
        text-align: center;
        margin-bottom: 25px;
    }
}